/* Generic Styles */
body {
  font-family: 'Bahnschrift Light', 'Segoe UI', sans-serif;
  color: #E9E9E9;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  background-image: url('https://raw.githubusercontent.com/chrischow/project-ace/main/images/bg.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}
div::-webkit-scrollbar {
  display: none;
}

.accent-blue {
  color: #7B73F0;
}

.accent-green {
  color: #27DDCB;
}

.btn-blue {
  background-color: #7B73F0;
  color: white;
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: #625AD7;
  color: #fafafa;
  transition: 0.3s;
}

.btn-green {
  background-color: #0EC4B2;
  color: white;
  transition: 0.3s;
}

.btn-green:hover {
  background-color: #00AA98;
  color: #fafafa;
  transition: 0.3s;
}

.btn-secondary {
  background-color: #8497B0!important;
  color: white!important;
}

.btn-secondary:hover {
  background-color: #6B7E97!important;
  color: #ddd!important;
}

h1 {
  font-family: 'Bahnschrift', 'Segoe UI', 'Segoe UI', sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
}

h4 {
  font-family: 'Bahnschrift', 'Segoe UI', 'Segoe UI', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}

hr {
  background-color: #344051;
  min-width: 150px;
  max-width: 80%;
}

::selection {
  background: #0EC4B2;
  color: white;
}

.bg-dark, .table > thead.thead-dark th {
  /* background-color: #000415!important; */
  background-color: #0007188a!important;
}