.btn-okr-toggle {
  background-color: #8497B000;
  color: #9EB1CA;
  border: 1px solid #9EB1CA;
  transition: 0.3s;
}

.btn-okr-toggle:hover {
  background-color: #8497B044!important;
  color: #D1E4FD!important;
  border: 1px solid #9EB1CA!important;
  transition: 0.3s;
}

.btn-okr-toggle-icon {
  font-size: 1.2rem;
  height: 20px;
  width: 14px;
  padding: 0px;
}