/* Navbar */
.brand--normal {
  font-family: Bahnschrift, 'Segoe UI', sans-serif;
}

.brand--navbar {
  font-family: Bahnschrift, "Segoe UI";
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  transition: 0.3s;
  color: #7B73F0;
}

.navbar-dark .navbar-nav .nav-link.active {
  transition: 0.3s;
  font-family: 'Bahnschrift', 'Segoe UI', sans-serif;
  color: #7B73F0;
}
